* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: white
}

#navbar #imglogo1 {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 40px;
    padding-left: 0px;
    cursor: pointer;
}

#navbar #img-max2 {
    width: 25px;
}

#navbar ul {
    display: flex;
    margin: 0px;
    padding: 1px;
}

#navbar ul li {
    list-style: none;
    margin: 1px;
    padding: 0px 5px;
    font-size: .6rem;
}

#navbar ul li a {
    text-decoration: none;
}

#navbar ul .item {
    font-family: "Smooch Sans", serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: "Smooch Sans", serif;
    text-decoration: none;
    padding: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: "Smooch Sans", serif;
    color: black;
    text-decoration: none;
    display: block;
    padding: 1px 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn {
    margin-left: 15px;
}

.btn a {
    text-decoration: none;
}

.btn button {
    border: none;
}

.btn #navsignup {
    font-family: "Smooch Sans", serif;
    font-size: .6rem;
    font-weight: bold;
    margin: 0px 2px;
    padding: 1px 1px;
    background-color: blue;
    align-items: center;
    border-radius: 3px;
    transition: all .4s;
}

.btn #navsignup:hover {
    background-color: rgb(0, 0, 131);

}

.btn #navsignup a {
    color: white;

}

.btn #navsignin {
    font-family: "Smooch Sans", serif;
    font-size: .6rem;
    font-weight: bold;
    margin: 0px 0px;
    padding: 1px 1px;
    background-color: white;
    border-radius: 2px;
    transition: all .3s ease-in-out .1s;
}

.btn #navsignin:hover {
    background-color: rgba(235, 235, 235, 0.733);
}

/* home contant  */
#home {
    display: flex;
    height: 550px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 350px 10px;
    cursor: pointer;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.btn1 {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    background: #2bb0d8;
    border: 1px solid #2bb0d8;
    color: #fff;
    padding: 5px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 2px;
    transition: all .4s;
}

.btn1:hover {
    background-color: #007497;
}

#home .availableornot {
    font-family: "Roboto", serif;
    font-size: .8rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
}

#home .filmname {
    font-size: 1rem;
    margin-bottom: 5px;
    color: white;
}

#home p {
    font-family: "Roboto", serif;
    font-weight: normal;
    font-size: .8rem;
    color: white;
    margin-bottom: 2px;
}

/* latest section  */
#services-container {
    margin: 0px;
    padding: 0px;
    margin-top: -150px;
}

#latest {
    margin: 0px 50px;
    display: flex;
    gap: 50px;
    white-space: wrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

#latest .box {
    cursor: pointer;
    padding: 0px;
    margin: 0px 1px;
    margin-bottom: 5px;
    transition: all .5s;
    box-sizing: border-box;
}

/* SCHEDULE section  */
#SCHEDULE {
    margin: 0%;
    margin-top: 50px;
    padding: 30px;
    display: block;
    text-align: center;
    justify-content: center;
    background-color: rgb(216, 216, 216)
}

.timeline {
    margin: 0px;
    padding: 0px 0px;
}

.timeline h6 {
    cursor: pointer;
    font-size: .8rem;
    margin: 5px 0px;
}

.timeline h6:hover {
    text-decoration: underline;
}

#Tonigt {
    display: flex;
    text-align: center;
}

/* More files section  */
#morefilms {
    margin: 100px 0px;
    margin-bottom: 25px;
    padding: 10px 75px;
    display: flex;
    background-color: rgb(40, 40, 255);
    gap: 50px;
    white-space: wrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/* coming soon section  */
#Coming-soon {
    margin-top: 75px;
    margin-bottom: 50px;
    display: block;
}

#comes {
    display: block;
    margin-top: 0px;
    padding: 0px 10px;
}

#comes .box2 img {
    padding: 0px;
    cursor: pointer;
    max-width: 390px;
}

#comes h2 {
    font-size: 2rem;
}

/* last banner section  */
#last-banner img {
    max-width: 100px;
    margin: 0px;
    padding: 20px;
    
}

#paras-btns p {
    font-size: 1.2rem;
    margin: 80px;
    color: rgb(43, 12, 12);
}